*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans',sans-serif;
}
.container{
    width: 100%; height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.container .header{
    width: 100%;
    margin: 2% auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container .header .logo{
    width: 100px;
    height: 80px;
    background: url(tatamotors.jpg); 
    background-size:cover;
    background-repeat:no-repeat;
}
.container .header .nav ul{
    display: flex;
    gap:30px;

}

.container .header .nav ul li{
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    letter-spacing: 1px;
}
.container .header .nav ul li a{
    padding: 10px;
    outline:none;
    text-decoration:none;
    cursor: pointer;
    color: #242b2e;
}
.container .header .nav ul li a:hover{
    border-bottom:2px solid #4facfe;
}
.container .header .buttons button{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.container .header .buttons button{
    width: 120px;
    height: 40px;
    border: none; outline: none;
    cursor: pointer;;
}
.container .header .buttons button:hover{
    color:#ffff;
    background-image: linear-gradient(to right, #4facfe 20%, #00f2fe 80% );
}
.container .main_content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 30px;
}
.container .main_content .content{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
.container .main_content .content h1{
    font-size: 52px;
    letter-spacing: 2px;
}
.container .main_content .content span{
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.container .main_content .container p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.container .main_content .car_img{
    width: 100%;
    height: 400px;
    background: url(tata-curvv-left-front-three-quarter0.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.container .futures
{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 0px;
    justify-content: center;
    flex-wrap: nowrap;
}
.container .futures .interior,.airbags,.stirring,.outsideview,.space,.roadview
{
    width: 300px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container .futures img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
}
.container .Tmain_content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 30px;
}
.container .Tmain_content .Tcontent{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
.container .Tmain_content .Tcontent h1{
    font-size: 52px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.container .Tmain_content .Tcontent span{
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.container .Tmain_content .container p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
  

}
.container .Tmain_content .car_img{
    width: 100%;
    height: 400px;
    background: url(desktop-wallpaper-tata-tiago-tiago-brochure-tata-tiago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Tfutures {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    padding: 10px;
}

.Tfutures div {
    flex: 0 0 auto;
    width: 240px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Tfutures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    height:  calc(50vh - 50px);
}

.quote {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    color: #333;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.quote{
    opacity: 1;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}
footer {
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
}
  
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   }
  
.logo {
    text-align: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
.social-links {
    list-style: none;
    padding: 0;
  }
.social-links h3 {
    margin-bottom: 10px;
  }
 .social-links li {
    margin-bottom: 5px;
  }

  
